<!doctype html>
<html>
    <head>
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->
    </head>
    <body ng-app="OptionsApp" ng-controller="OptionsCtrl">
        <h1>Configuraci&oacute;n</h1>

        {{ options.abc}}
        <div class="form-group">
            <label>IP</label>
            <input type="text" ng-model="options.ip" class="form-control"/>
        </div>  

        <div class="form-group">
            <label>Port</label>
            <input type="text" ng-model="options.port" class="form-control"/>
        </div>

        <div>{{ message }}</div>

        <button ng-click="save()">Guardar</button>
                
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
        <script src="bower_components/angular-bootstrap-slider/slider.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/options.js -->
        <script src="scripts/options.js"></script>
        <!-- endbuild -->
    </body>
</html>
