<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->
        <style type="text/css">
            body {
                width: 250px;
            }
        </style>
    </head>
    <body ng-app="LightsApp" ng-controller="LightsCtrl">

        <div class="row lights">
          <div class="col-xs-12">
            <slider ng-model="levels.general" min="0" step="1" max="127"></slider>
          </div>
        </div>

        <div class="row lights">
            <div class="col-xs-3"><button class="btn" ng-click="click(1)">1</button></div>
            <div class="col-xs-3"><button class="btn" ng-click="click(2)">2</button></div>
            <div class="col-xs-3"><button class="btn" ng-click="click(3)">3</button></div>
            <div class="col-xs-3"><button class="btn" ng-click="click(4)">4</button></div>
        </div>
        <div class="row lights">
            <div class="col-xs-3"><button class="btn" ng-click="click(5)">5</button></div>
            <div class="col-xs-3"><button class="btn" ng-click="click(6)">6</button></div>
            <div class="col-xs-3"><button class="btn" ng-click="click(7)">7</button></div>
            <div class="col-xs-3"><button class="btn" ng-click="click(8)">8</button></div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
        <script src="bower_components/angular-bootstrap-slider/slider.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/popup.js -->
        <script src="scripts/popup.js"></script>
        <!-- endbuild -->
    </body>
</html>
